.env
.sum
.csv
**/.env
**/.sum
**/*.wasm
checkduplicate/go.sum
load_tree_json/dev.env
load_tree_json/go.sum
*/*.sum
**/*.sum
**/*.env
**/*.csv
**/*.json
**/*.db
37_jwt_token_google/get_token
37_jwt_token_google/main.go 
37_jwt_token_google/gen_token
37_jwt_token_google/token_gen
37_jwt_token_google/gen_token
37_jwt_token_google/bin/app-amd64-darwin
